@import "@fortawesome/fontawesome-free/css/all.css";

@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-general: "generalsans";
    --color-success : #4ADE80;
    --color-warning : #FBBF24;
    --color-error : #DC2626;
    --color-info: #2563EB;
    --color-primary : #112817
}

@font-face {
    font-family: "generalsans";
    font-style: normal;
    font-weight: 400;
    display: swap;
    src: url("/public/fonts/GeneralSans-Variable.ttf") format("truetype");
}


.button {
padding: 5px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.button-success {
    background-color: var(--color-success);
}

.button-transparent {
    border: 1px solid var(--color-success);
}

.button-white {
    border: 1px solid white;
}

.button-solid-white{
    background-color: #fff;
    color: var(--color-primary);
}

/* *{
    border: 1px solid red;
} */